POSTGRES_DB=django
POSTGRES_USER=django_user
POSTGRES_PASSWORD=django_password
DB_HOST=postgres
DB_PORT=5432
SECRET_KEY=some-test-key-not-good-for-prod
DEBUG=True
USE_SQLITE=True
ALLOWED_HOSTS=127.0.0.1,localhost
